<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Aide - Stage BTS</title>
    <link rel="stylesheet" href="CSS/general.css">
</head>
<body>

<!-- Menu de navigation -->
<nav>
    <a href="index.php?action=Accueil" id="onglet_accueil" ><span>Accueil</span></a>
    <a href="index.php?action=Entreprise" id="onglet_entreprise"><span>Entreprise</span></a>
    <a href="index.php?action=Stagiaire" id="onglet_stagiaire" class="actif"><span>Stagiaire</span></a>
    <a href="index.php?action=inscrireStage" id="onglet_inscrire"><span>Inscription</span></a>
    <a href="index.php?action=Aide" id="onglet_aide" ><span>Aide</span></a>
    <a href="index.php?action=Deconnection" id="onglet_deconnection"><span>Déconnexion</span></a>

    <!-- Boutons pour réduire/développer le menu -->
    <div class="bottom">
        <a href="#" id="icon_droite"><span></span></a>
        <a href="#" id="icon_gauche"><span></span></a>
    </div>
</nav>

<div id="corps">

    <div class="container">
        <h2>{{ etudiant.raison_sociale }}</h2>
        <div>
            <h3>Entrée</h3>
            <p>Nom de l'etudiant : {{ etudiant.nom_etudiant }} <input type="text" value="{{ etudiant.nom }}"></p>
            <p>Prenom de l'etudiant : {{ etudiant.prenom_etudiant }} <input type="text" value="{{ etudiant.nom }}"></p>
            <p>Annee d'obtention : {{ etudiant.annee_obtention }} <input type="text" value="{{ etudiant.nom }}"></p>
            <p>Login : {{ etudiant.login }} <input type="text" value="{{ etudiant.nom }}"></p>
            <p>Mdp : {{ etudiant.mdp }} <input type="text" value="{{ etudiant.nom }}"></p>
            <p>Num de classe : {{ etudiant.num_classe }} <input type="text" value="{{ etudiant.nom }}"></p>
        </div>
    </div>
</div>

</body>
</html>